<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--这块等于dao接口的实现  namespace必须和接口的类路径一样-->
<mapper namespace="com.crossoft.mapper.BomConfigMapper" >

    <!-- Result Map-->
    <resultMap type="com.crossoft.domain.BomBean" id="BaseResultMap">
        <result property="quid" column="QUID" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result property="plant" column="PLANT" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result property="id" column="ID" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result property="bomType" column="BOM_TYPE" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result property="name" column="NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result property="statusFk" column="STATUS_FK" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result property="version" column="VERSION" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result property="curVersion" column="CUR_VERSION" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result property="bomTem" column="BOM_TEM" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result property="adopted" column="ADOPTED" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result property="dateCreate" column="DATE_CREATE" javaType="java.lang.String" jdbcType="TIMESTAMP" />
        <result property="dateUpdate" column="DATE_UPDATE" javaType="java.lang.String" jdbcType="TIMESTAMP" />
        <result property="dateEffect" column="DATE_EFFECT" javaType="java.lang.String" jdbcType="TIMESTAMP" />
        <result property="dateExpire" column="DATE_EXPIRE" javaType="java.lang.String" jdbcType="TIMESTAMP" />
    </resultMap>

    <!-- Result Map-->
    <resultMap type="com.crossoft.domain.BomComponentBean" id="BomCompResultMap">
        <result property="id" column="ID" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result property="bomFk" column="BOM_FK" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result property="materialFk" column="MATERIAL_FK" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result property="sequence" column="SEQUENCE" javaType="java.math.BigDecimal" jdbcType="NUMERIC" />
        <result property="enabled" column="ENABLED" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result property="validStart" column="VALID_START" javaType="java.lang.String" jdbcType="TIMESTAMP" />
        <result property="validEnd" column="VALID_END" javaType="java.lang.String" jdbcType="TIMESTAMP" />
        <result property="useItemDefaults" column="USE_ITEM_DEFAULTS" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result property="preAssembled" column="PRE_ASSEMBLED" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result property="qty" column="QTY" javaType="java.lang.Double" jdbcType="NUMERIC" />
        <result property="testPart" column="TEST_PART" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result property="bomTemplate" column="BOM_TEMPLATE" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result property="disassembleOperationFk" column="DISASSEMBLE_OPERATION_FK" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result property="createTrackableSfc" column="CREATE_TRACKABLE_SFC" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result property="maximumUsage" column="MAXIMUM_USAGE" javaType="java.lang.Double" jdbcType="NUMERIC" />
        <result property="maximumNc" column="MAXIMUM_NC" javaType="java.lang.Double" jdbcType="NUMERIC" />
        <result property="assembleAsReq" column="ASSEMBLE_AS_REQ" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result property="dateCreate" column="DATE_CREATE" javaType="java.lang.String" jdbcType="TIMESTAMP" />
        <result property="dateUpdate" column="DATE_UPDATE" javaType="java.lang.String" jdbcType="TIMESTAMP" />
        <result property="parentSequence" column="PARENT_SEQUENCE" javaType="java.math.BigDecimal" jdbcType="NUMERIC" />
        <result property="orderItemNumber" column="ORDER_ITEM_NUMBER" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result property="erpChangeNumber" column="ERP_CHANGE_NUMBER" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result property="erpSequence" column="ERP_SEQUENCE" javaType="java.math.BigDecimal" jdbcType="NUMERIC" />
        <result property="bomComponentType" column="BOM_COMPONENT_TYPE" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result property="assembleOperationFk" column="ASSEMBLE_OPERATION_FK" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result property="assyDataTypeFk" column="ASSY_DATA_TYPE_FK" javaType="java.lang.String" jdbcType="VARCHAR" />
    </resultMap>

    <!-- 根据名字模糊查询 -->
    <select id="bomListByBom" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT QUID,PLANT,ID,BOM_TYPE,NAME,STATUS_FK,VERSION,CUR_VERSION,BOM_TEM,
        ADOPTED,DATE_CREATE,DATE_UPDATE,DATE_EFFECT,DATE_EXPIRE
        FROM BOM
        <where>
            <if test="id != null">
                ID LIKE '%${id}%'
            </if>
            <if test="quid != null">
                AND QUID = #{quid}
            </if>
        </where>
    </select>

    <!-- 新增bom数据 -->
    <insert id="addBom" parameterType="com.crossoft.domain.BomBean">
        <![CDATA[
                INSERT INTO BOM(QUID,PLANT,ID,BOM_TYPE,NAME,STATUS_FK,VERSION,CUR_VERSION,BOM_TEM,ADOPTED,
                DATE_CREATE,DATE_UPDATE,DATE_EFFECT,DATE_EXPIRE)
                VALUES(
                #{quid},#{plant},#{id},#{bomType},#{name},#{statusFk},#{version},#{curVersion},#{bomTem},
                #{adopted},GETDATE(),GETDATE(),#{dateEffect},#{dateExpire}
                )
            ]]>
    </insert>

    <!-- 更新bom数据 -->
    <update id="updateBom" parameterType="com.crossoft.domain.BomBean">
        <![CDATA[
                UPDATE BOM SET
                BOM_TYPE = #{bomType},
                NAME = #{name},
                CUR_VERSION = #{curVersion},
                STATUS_FK = #{statusFk},
                BOM_TEM = #{bomTem},
                DATE_UPDATE = GETDATE(),
                DATE_EFFECT = #{dateEffect},
                DATE_EXPIRE = #{dateExpire}
                WHERE QUID = #{quid}
            ]]>
    </update>

    <!-- 删除bom及其组件信息数据 -->
    <delete id="delteBom" parameterType="java.lang.String">
          DELETE FROM BOM WHERE QUID = #{quid};
          DELETE FROM BOM_COMPONENT WHERE BOM_FK = #{quid};
    </delete>

    <!-- 查询物料清单组件数据 -->
    <select id="bomComponentList" parameterType="java.util.Map" resultMap="BomCompResultMap">
        SELECT ID,BOM_FK,MATERIAL_FK,SEQUENCE,ENABLED,VALID_START,VALID_END,USE_ITEM_DEFAULTS,
        PRE_ASSEMBLED,QTY,TEST_PART,BOM_TEMPLATE,DISASSEMBLE_OPERATION_FK,CREATE_TRACKABLE_SFC,
        MAXIMUM_USAGE,MAXIMUM_NC,ASSEMBLE_AS_REQ,DATE_CREATE,DATE_UPDATE,PARENT_SEQUENCE,ORDER_ITEM_NUMBER,
        ERP_CHANGE_NUMBER,ERP_SEQUENCE,BOM_COMPONENT_TYPE,ASSEMBLE_OPERATION_FK,ASSY_DATA_TYPE_FK
        FROM BOM_COMPONENT
        <where>
            <if test="bomFk != null">
                BOM_FK = #{bomFk}
            </if>
            <if test="materialFk != null">
                AND MATERIAL_FK = #{materialFk}
            </if>
        </where>
    </select>

    <!-- 新增物料清单组件数据 -->
    <insert id="addBomComponent" parameterType="com.crossoft.domain.BomComponentBean">
        <![CDATA[
                INSERT INTO BOM_COMPONENT(
                ID,BOM_FK,MATERIAL_FK,SEQUENCE,ENABLED,VALID_START,VALID_END,USE_ITEM_DEFAULTS,
                PRE_ASSEMBLED,QTY,TEST_PART,BOM_TEMPLATE,DISASSEMBLE_OPERATION_FK,
                CREATE_TRACKABLE_SFC,MAXIMUM_USAGE,MAXIMUM_NC,ASSEMBLE_AS_REQ,DATE_CREATE,DATE_UPDATE,
                PARENT_SEQUENCE,ORDER_ITEM_NUMBER,ERP_CHANGE_NUMBER,ERP_SEQUENCE,BOM_COMPONENT_TYPE,
                ASSEMBLE_OPERATION_FK,ASSY_DATA_TYPE_FK
                )
                VALUES(
                #{id},#{bomFk},#{materialFk},#{sequence},#{enabled},#{validStart},#{validEnd},#{useItemDefaults},
                #{preAssembled},${qty},#{testPart},#{bomTemplate},#{disassembleOperationFk},
                #{createTrackableSfc},${maximumUsage},${maximumNc},#{assembleAsReq},GETDATE(),GETDATE(),
                #{parentSequence},#{orderItemNumber},#{erpChangeNumber},#{erpSequence},#{bomComponentType},
                #{assembleOperationFk},#{assyDataTypeFk}
                )
            ]]>
    </insert>

    <!-- 删除物料清单组件数据 -->
    <delete id="deleteBomComponent" parameterType="com.crossoft.domain.BomComponentBean">
        <![CDATA[
                DELETE FROM BOM_COMPONENT WHERE ID = #{id}
            ]]>
    </delete>

    <!-- 更新物料清单组件数据 -->
    <update id="updateBomComponent" parameterType="com.crossoft.domain.BomComponentBean">
        <![CDATA[
                UPDATE BOM_COMPONENT
                SET BOM_COMPONENT_TYPE = #{bomComponentType},
                ASSEMBLE_AS_REQ = #{assembleAsReq},
                ASSEMBLE_OPERATION_FK = #{assembleOperationFk},
                QTY = #{qty},
                ASSY_DATA_TYPE_FK = #{assyDataTypeFk},
                MAXIMUM_USAGE = #{maximumUsage},
                MAXIMUM_NC = #{maximumNc}
                WHERE ID = #{id}
            ]]>
    </update>

    <!-- 物料清单组件拆分 -->
    <insert id="reDistributeBomComponent" parameterType="java.util.Map">
        <![CDATA[
                INSERT INTO BOM_COMPONENT(
                ID,BOM_FK,MATERIAL_FK,SEQUENCE,ENABLED,VALID_START,VALID_END,USE_ITEM_DEFAULTS,
                PRE_ASSEMBLED,QTY,TEST_PART,BOM_TEMPLATE,DISASSEMBLE_OPERATION_FK,
                CREATE_TRACKABLE_SFC,MAXIMUM_USAGE,MAXIMUM_NC,ASSEMBLE_AS_REQ,DATE_CREATE,DATE_UPDATE,
                PARENT_SEQUENCE,ORDER_ITEM_NUMBER,ERP_CHANGE_NUMBER,ERP_SEQUENCE,BOM_COMPONENT_TYPE,
                ASSEMBLE_OPERATION_FK,ASSY_DATA_TYPE_FK
                )
                (SELECT #{newId},#{newBomFk},MATERIAL_FK,SEQUENCE,ENABLED,VALID_START,VALID_END,
                USE_ITEM_DEFAULTS,PRE_ASSEMBLED,QTY,TEST_PART,BOM_TEMPLATE,DISASSEMBLE_OPERATION_FK,
                CREATE_TRACKABLE_SFC,MAXIMUM_USAGE,MAXIMUM_NC,ASSEMBLE_AS_REQ,GETDATE(),GETDATE(),
                PARENT_SEQUENCE,ORDER_ITEM_NUMBER,ERP_CHANGE_NUMBER,ERP_SEQUENCE,BOM_COMPONENT_TYPE,
                ASSEMBLE_OPERATION_FK,ASSY_DATA_TYPE_FK
                FROM BOM_COMPONENT WHERE ID = #{sourceId})
            ]]>
    </insert>



</mapper>